@import '../styles/variables.scss';

.fieldsetDefault {
    border: medium none !important;
    margin: 0 0 16px;
    padding: 0;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }
}

.legendDefault {
    display: none;
}

.inputDefault {
    margin-bottom: 16px;
    color: $input-font-color;
    font-size: $default-font-size;
    width: 100%;
    border: 1px solid $input-border-color;
    background: $input-background-color;
    margin: 8px 0 0;
    padding: 10px;

    &.requiredField {
        border: 1px solid $input-invalid-border-color;
    }

    &.correctFill {
        border: 1px solid $input-valid-border-color
    }

    &:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid $input-border-color-hover;
    }

    &:focus {
        outline: 0;
        border: 1px solid $input-border-color-hover;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
        color: $placeholder-color;
    }
}

.fieldAlert {
    font-size: calc(#{$default-font-size} - 2px);
    color: $field-alert-color;
    text-align: left;
    padding: 4px;
    font-weight: 400;
}