.content {
    display: flex;
    margin: 64px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.sectionContent {
    width: 100%;
}

.titleHeader {
    text-align: center;
    margin-bottom: 32px;
}