// typo
$default-font-size: 14px;
$default-line-height: 30px;
$defaut-font-weight: 100;
$default-font-color: #444;

// other
$body-background-color: #fff;

// forms
$form-color: #777;
$form-background-color: #F9F9F9;
$placeholder-color: #888;
$input-border-color: #ccc;
$input-border-color-hover: #aaa;
$input-background-color: #fff;
$input-invalid-border-color: #ef476f;
$input-valid-border-color: #06d6a0;
$field-alert-color: #aa0e32;
$input-font-color: #444;
$submit-color: #f7f7f7;
$submit-background-color: #333;

// breakpoints
$mobile-breakpoint-max: 575px;
$tablet-breakpoint-max: 767px;

// accordion
$accordion-body: #EEEEEE;
$accordion-header: #C0C0C0;
$accordion-hover: #949292;
